<html lang="en">
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <hr>{{log this}}
            <li>
                
                <strong>{{this.title}}</strong> - ${{this.price}}
                <form action="/api/carts/{{user.cartId}}/product/{{this._id}}" method="post">
                    <input type="hidden" name="productId" value="{{this._id}}">
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <div>
        <a href="/carts/{{user.cartId}}">Ir al Carrito</a>
        <hr>
        {{#if pagination.hasPrevPage}}
            <a href="{{pagination.prevLink}}">Página anterior</a>
            <hr>
        {{/if}}
        
        {{#if pagination.hasNextPage}}
            <a href="{{pagination.nextLink}}">Página siguiente</a>
        {{/if}}
    </div>
</body>
</html>
